# Function Examples - Solutions

The following practice examples are taken from my [Udemy Class](https://www.udemy.com/course/complete-python-bootcamp/)

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [29]:
def lesser_of_two_evens(n1,n2):
    '''
    This function will take two numbers and return lesser of two if the input were both Even
    or return Greater if one/both of the input numbers is/are odd
    
    '''
    if(n1%2 == 0 and n2%2 ==0):
        return min(n1,n2)
    else:
        return max(n1,n2)

In [30]:
# Lets test our function
lesser_of_two_evens(4,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [31]:
def animal_crackers(string):
    '''
    This Function will take a two word string, split it into two words 
    and check if the first letter of first word is same as First letter of second word
    
    INPUT: Two words as a string
    '''
    words = string.split()
    if words[0][0] == words[1][0]:
        return True
    else:
        return False

In [32]:
# Lets test our function
animal_crackers('Funny Fox')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [35]:
def makes_twenty(n1,n2):
    '''
       This Function Takes two numbers as argument 
       and returns True if the sum of the integers is 20 or if one of the integers is 20. 
       If not, return False
   
       INPUT: Two Numbers
   '''
    return (n1+n2 ==20) or (n1==20 or n2 ==20)

In [34]:
# Lets test our function
makes_twenty(10.5,9.5)

True

## LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [40]:
def old_mcdonald(name):
    '''
    This function capitalizes the first and fourth letters of a string
    
    INPUT: String
           *preferably a name but doesn't really matter as long as its a string.
    '''
    if len(name) >3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is less than or equal to 3 characters, try another name'

In [41]:
# Lets test out function
old_mcdonald('tony')

'TonY'

#### alternate_case: Write a function that capitalizes every other character in a given string

    alternate_case('tony stark') --> tOnY StArK

In [46]:
def alternate_case(word):
    '''
    This function will take any string and capitalize every other character/ even characters
    
    INPUT: String
    '''
    result = ""
    for index, letter in enumerate(word):
        if index % 2 == 0:
            result += letter.lower()
        else:
            result += letter.upper()
    return result

In [47]:
alternate_case('tony stark')

'tOnY StArK'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [55]:
def master_yoda(string):
    '''
    This function mimics speaking style of Master Yoda!
    It breaks down string into words and prints it with words reversed
    
    INPUT: string
    '''
    return ' '.join(string.split()[::-1])

In [72]:
master_yoda('try no is there ,Not do or Do')

'Do or do ,Not there is no try'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [76]:
def almost_there(n):
    '''
    This function takes a given number and returns True if the Input is within 10 numbers of 100 or 200
    '''
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [77]:
almost_there(10)

False